
.timeRow {
	height: 90px;
	
}
.timeRow > :not(:first-child) {
	margin-left: 8px
}


.timeInput {
	max-width: 190px;
	padding: 0;
}

.input {
	text-align: center;
}

.stepBtn {
	border: 1px solid #ced4da;
	background: white;
}

.label {
	
}

.buttons {
	display: flex;
	align-items: flex-end;
}

.buttons :first-child {
	margin-right: 5px;
}