.header
    height: 100px

.timeRow
    height: 70px
    padding: 5px 10px 10px

    > :not(:first-child)
        margin-left: 8px

.buttons
    display: flex
    align-items: flex-end
    > :not(:first-child)
        margin-left: 8px

.playerWrapper
    position: relative
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */

//.player
//    position: absolute
//    top: 0
//    left: 0
//
//.playerPlaceholder
//    @extend .player
//    background: #dddddd
//    height: 100%
//    width: 100%

.previewButtons
    padding: 10px
    display: flex
    justify-content: space-evenly
